In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('dataset/SentimentTweets.csv')

In [3]:
dataset.shape

(1280000, 7)

In [4]:
dataset.head()

,Unnamed: 0,target,id,date,flag,user,text
0,680949,0,2249621587,Fri Jun 19 22:41:08 PDT 2009,NO_QUERY,sukumarpant,#brokenpromises...
1,406741,0,2059003515,Sat Jun 06 16:03:21 PDT 2009,NO_QUERY,MTMSparrow,David Carradine so sad. Thai's law not sure i...
2,1337108,4,2017466467,Wed Jun 03 08:26:14 PDT 2009,NO_QUERY,itsmemcee,A @ 415 B @ 425. Tell your bro i say congrats!
3,1560887,4,2186457254,Mon Jun 15 18:52:04 PDT 2009,NO_QUERY,jdfreivald,@littlefluffycat Indeed.
4,1466295,4,2064458395,Sun Jun 07 06:19:20 PDT 2009,NO_QUERY,CrazyHan,Completed Race 4 Life in 58mins with girlies f...

In [5]:
dataset.columns

Index(['Unnamed: 0', 'target', 'id', 'date', 'flag', 'user', 'text'], dtype='object')

In [6]:
dataset.describe()

         Unnamed: 0        target            id
count  1.280000e+06  1.280000e+06  1.280000e+06
mean   8.005338e+05  2.001903e+00  1.998854e+09
std    4.618635e+05  2.000000e+00  1.936169e+08
min    1.000000e+00  0.000000e+00  1.467811e+09
25%    4.009228e+05  0.000000e+00  1.956915e+09
50%    8.007465e+05  4.000000e+00  2.002132e+09
75%    1.200654e+06  4.000000e+00  2.177105e+09
max    1.599999e+06  4.000000e+00  2.329206e+09

In [7]:
dataset = dataset.drop(['Unnamed: 0', 'id', 'date', 'flag', 'user'], axis=1)

In [8]:
dataset.head()

   target                                               text
0       0                                #brokenpromises...
1       0  David Carradine  so sad. Thai's law not sure i...
2       4    A @ 415 B @ 425. Tell your bro i say congrats!
3       4                          @littlefluffycat  Indeed.
4       4  Completed Race 4 Life in 58mins with girlies f...

In [13]:
for i in range(10):
    print(dataset.iloc[i]['text'])

#brokenpromises...
David Carradine  so sad. Thai's law not sure if it's fowl play? How many people hang themselves and tie their testicles?
A @ 415 B @ 425. Tell your bro i say congrats!
@littlefluffycat  Indeed.
Completed Race 4 Life in 58mins with girlies from work... was fun but bloody hot!! Also bumped into some familiar faces  -well done guys!!
Woot truck fixed!!! Now workin  http://myloc.me/4NiF
@BLAQSHEEPCEO   yea I melt at that lol
wants to do something radical...but not sure what that something is.
@brlamb scratch that, @bgilgoff tweeted it. Channel is full!  #celc2009
I am sore everywhere. Also found out an assessment i had today i actually should've had last week. That teacher hates me too